
[class="col"]{
    padding: 18px;
    background-color: dodgerblue;
    border: 2px solid #fff;
}

h2{
    padding: 20px;
}
.practice_2{
    margin-top: 20px;
}

.practice_2 .container{
    margin-bottom: 20px;
}
.practice_2 .row div{
    padding: 18px;
    background-color: dodgerblue;
    border: 2px solid #fff; 
}

.practice_3{
    margin-top: 20px;
}

.practice_3 .container{
    margin-bottom: 20px;
}
.practice_3 .row div{
    padding: 18px;
    background-color: dodgerblue;
    border: 2px solid #fff; 
}



.practice_4 .row [class="col-6"]{
    padding: 18px;
    background-color: dodgerblue;
    border: 2px solid #fff; 
}
